.li{
    font-size: large;
    font-weight: bold;
    list-style: none;
    width: 100%;
    height: 50px;
    list-style: none;
    transition: .3s;
}

.li:hover{
    background-color: silver;
}

.li:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}