.header {
  color: white;
  background-color: olive;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 4rem;
}

.headerRight {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 450px) {
  .title {
    width: 30%;
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
  }

  .dialog_login {
    color: black;
    background-color: #cc0;
    height: 30px;
  }

  .register {
    height: 30px;
  }

  .headerRight {
    margin-top: 20px;
    width: 20%;
  }
}
