div.card{
    position:relative;
    vertical-align: 'top';
}

.buttons{
    position: absolute;
    bottom: 10%;
    width: 85%;
}

.ownerOption{
    height: 15px;
}

.eventedit{
    color: white;
    background-color: #800080;
}