.loginFormPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginButton {
  align-self: center;
  background-color: orange;
  /* パスワード再発行用のリンクに近いため、少し上にスペースを作る↓ */
  margin-top: 2rem;
}
